%h1= t('bikes.list')

.table-container
  %table
    %thead
      %tr
        %th= t('bikes.name')
        %th= t('common.actions')
    %tbody
      - @bikes.each do |bike|
        %tr
          %td= bike.name
          %td
            = link_to t('common.edit'), edit_bike_path(bike)
            = link_to t('common.deactivate'),
                deactivate_bike_path(bike),
                data: { turbo_method: :post, turbo_confirm: t('bikes.deactivate_confirmation') }

  = link_to t('bikes.create_new'), new_bike_path, class: 'btn btn-primary'
